{{> svg}}
<main class="wrapper">
    <div class="profile">
            <h1>Изменить пароль</h1>
        {{#> FormProfile}}
            {{> InputProfile label="Старый пароль" name="oldPassword" type="password" value="55555" }}
            {{> InputProfile label="Новый пароль" name="oldPassword" type="password" value="55555" }}
            {{> InputProfile label="Повторите новый пароль"  name="newPassword" type="password" value="55555" }}
            <div class="profile__link">
                {{> Button label="Сохранить"  color="red" }}
            </div>
            
            {{test}}
        {{/FormProfile}}

    </div>
</main>
