{{> svg}}
<main class="wrapper">
    <div class="notfound">
        <div class="notfound__body">
            <div class="notfound__title Bitter">
                Ошибка 
                <span>500</span>
            </div>
            <div class="notfound__text">
                {{text}}
            </div>
            <div class="notfound__btn">
                <a href="" class="btn btn--red">Назад к чатам</a>
            </div>
        </div>
    </div>
</main>
