<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{{title}}</title>
        
    </head>    
    <body>
       

        <main class="wrapper">
            <nav>
                <ol>
                    <li>
                        {{> Button label="Авторизация" type="link" page="auth"}}
                    </li>
                    <li>
                        {{> Button label="Регистрация" type="link" page="registrationPage"}}
                    </li>
                    <li>
                        {{> Button label="Чат" type="link" page="chat"}}
                    </li>
                    <li>
                        {{> Button label="404" type="link" page="404"}}
                    </li>
                    <li>
                        {{> Button label="500" type="link" page="500"}}
                    </li>
                    <li>
                        {{> Button label="Профиль" type="link" page="profile"}}
                    </li>
                    <li>
                        {{> Button label="Изменить пароль" type="link" page="changepassword"}}
                    </li>
                    <li>
                        {{> Button label="Изменить данные" type="link" page="change"}}
                    </li>
                </ol>
            </nav>
          
           
        </main>
    </body>

</html>