<div class="profile__info-item">
    <span>{{label}}</span>
     <input
        class="input__element"
        placeholder=""
        type= {{type}}
        value={{value}}
        name={{name}}
    />
</div>