@font-face {
	font-family: 'Inter';
    src: url("/src/assets/fonts/Inter-Regular.ttf")  format('truetype');
    font-style: normal; 
	font-weight: normal;
} 

@font-face {
	font-family: 'Inter';
    src: url("/src/assets/fonts/Inter-SemiBold.ttf")  format('truetype');
    font-style: normal; 
	font-weight: 600;
} 

@font-face {
	font-family: 'Bitter';
    src: url("/src/assets/fonts/Bitter-SemiBold.ttf")  format('truetype');
    font-style: normal; 
	font-weight: 600;
} 

@font-face {
	font-family: 'Bitter';
    src: url("/src/assets/fonts/Bitter-Regular.ttf")  format('truetype');
    font-style: normal; 
	font-weight: 400;
} 

@font-face {
	font-family: 'Bitter';
    src: url("/src/assets/fonts/Bitter-Bold.ttf")  format('truetype');
    font-style: normal; 
	font-weight: 700;
} 
